<div class="overlay"></div>
<div ng-show="showPopUpDialog" id="popUpDialog-bg">
	<div id="popUpDialog-container">
		<div id="popUpDialog">
			<div class="content">
				<div class="header-ct">
					<h3>{{ item.title }}</h3>
					<p>Ingredients:</p>
				</div>
				<button ng-click="closePopUpDialog()" class="btn btn-primary btn-close">&#10010;</button>

				<ul class="list-group">
					<li ng-repeat="ingredient in item.ingredients | filter:duplicateFilter:arg2" class="list-group-item">{{ ingredient }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>